# Subway Data Analysis

## Introduction

O sistema de ônibus e trens de Nova Iorque - o Metro Transit Authority - [fornece seus dados para download](http://web.mta.info/developers/developer-data-terms.html#data) através de  arquivos CSV. Dentre as informações disponíveis estão os **registros semanais de dados das catracas do metrô**. 


Estes registros contém contagens cumulativas das entradas e saídas, normalmente agrupadas em períodos de 4 horas, com dados adicionais que permitem identificar a estação e catraca específica correspondente a cada linha do arquivo. Neste projeto iremos utilizar um desses registros, mas não precisa baixar nada agora! O primeiro exercício será escrever um código Python para fazer isso por você :-)

# Sobre este projeto

Neste projeto você irá aplicar todos os conhecimentos adquiridos neste primeiro mês de curso, com tarefas básicas de aquisição e limpeza de dados. No processo iremos descobrir informações essenciais sobre os dados, utilizando o que foi aprendido no curso de estatística. 

O objetivo deste projeto é explorar a relação entre os dados das catracas do metrô de Nova Iorque e o clima no dia da coleta. Para isso, além dos dados do metrô, precisaremos dos dados de clima da cidade de Nova Iorque. 

Os principais pontos que serão verificados neste trabalho:

- Coleta de dados da internet
- Utilização de estatística para análise de dados
- Manipulação de dados e criação de gráficos simples com o `Pandas`

*Como conseguir ajuda*: Sugerimos que busque apoio nos canais abaixo, na seguinte ordem de prioridade:

| Tipo de dúvida\Canais         	| Google 	| Fórum 	| Slack 	| Email 	|
|-------------------------------	|--------	|-------	|-------	|-------	|
| Programação Python e Pandas    	| 1      	| 2     	| 3     	|       	|
| Requisitos do projeto         	|        	| 1     	| 2     	| 3     	|
| Partes específicas do Projeto 	|        	| 1     	| 2     	| 3     	|

Os endereços dos canais são:

- Fórum: https://discussions.udacity.com/c/ndfdsi-project
- Slack: [udacity-br.slack.com](https://udacity-br.slack.com/messages/C5MT6E3E1)
- Email: data-suporte@udacity.com

**Espera-se que o estudante entregue este relatório com:**

- Todos os exercícios feitos, com atenção especial para os trechos de código a completar (sinalizados com `# your code here`), pois eles são essenciais para que o código rode corretamente
- O arquivo ipynb exportado como HTML

Para entregar este projeto envie este `.ipynb` preenchido e o HTML, zipados, na página correspondente da sala de aula.

# Sobre o dataset

Descrição das colunas
<pre>
C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
  
C/A      = Agrupamento de catracas de que a catraca faz parte (_Control Area_)
UNIT     = Cabine de controle associada à estação onde a catraca se encontra (_Remote Unit for a station_)
SCP      = Endereço específico da catraca (_Subunit Channel Position_)
STATION  = Nome da estação onde a catraca se encontra
LINENAME = Código representando todas linhas que passam na estação*
DIVISION = Código representando a concessionária original da linha, antes da prefeitura assumir a gestão   
DATE     = Representa a data (no formato MM-DD-YY) do evento de auditoria agendado
TIME     = Representa o horário (hh:mm:ss) do evento de auditoria agendado
DESc     = Descreve o tipo de evento de auditoria registrado:
           1. "REGULAR" representando um evento de auditoria padrão, em que a contagem é feita a cada 4 horas
           2. "RECOVR AUD" significa que o valor específico estava perdido, mas foi recuperado posteriormente 
           3. Diversos códigos sinalizam situações em que auditorias são mais frequentes devido a atividades de
              planejamento ou solução de problemas. 
ENTRIES  = A contagem cumulativa de entradas associadas à catraca desde o último registro
EXITS    = A contagem cumulativa de saídas associadas à catraca desde o último registro

*  Normalmente as linhas são representadas por um caractere. LINENAME 456NQR significa que os trens 4, 5, 6, N, Q e R passam pela estação.
</pre>

# Lembretes

Antes de começarmos, alguns lembretes devem ter em mente ao usar os notebooks iPython:

- Lembre-se de que você pode ver do lado esquerdo de uma célula de código quando foi executado pela última vez se houver um número dentro das chaves.
- Quando você inicia uma nova sessão do notebook, certifique-se de executar todas as células até o ponto em que você deixou a última vez. Mesmo que a saída ainda seja visível a partir de quando você executou as células em sua sessão anterior, o kernel começa em um estado novo, então você precisará recarregar os dados, etc. em uma nova sessão.
- O ponto anterior é útil para ter em mente se suas respostas não correspondem ao que é esperado nos questionários da aula. Tente recarregar os dados e execute todas as etapas de processamento um a um para garantir que você esteja trabalhando com as mesmas variáveis e dados que estão em cada fase do questionário.

## Seção 1 - Coleta de Dados

### *Exercicio 1.1*

Mãos a obra!! Agora é sua vez de coletar os dados. Escreva abaixo um código python que acesse o link http://web.mta.info/developers/turnstile.html e baixe os arquivos do mês de junho de 2017. O arquivo deverá ser salvo com o nome turnstile_170610.txt onde 10/06/17 é a data do arquivo.

<blockquote>
    <p>Caso o site esteja fora do ar, use essa url:</p>
    <p>https://s3.amazonaws.com/video.udacity-data.com/topher/2018/November/5bf32290_turnstile/turnstile.html</p>
</blockquote>

Abaixo seguem alguns comandos que poderão te ajudar:

Utilize a biblioteca **urllib** para abrir e resgatar uma página da web. Utilize o comando abaixo onde **url** será o caminho da página da web onde se encontra o arquivo:

```python
u = urllib.urlopen(url)
html = u.read()
```

Utilize a biblioteca **BeautifulSoup** para procurar na página pelo link do arquivo que deseja baixar. Utilize o comando abaixo para criar o seu objeto *soup* e procurar por todas as tags 'a'no documento:
 
 
```python
soup = BeautifulSoup(html, "html.parser")
links = soup.find_all('a')
```

Uma dica para baixar apenas os arquivos do mês de junho é verificar a data no nome do arquivo. Por exemplo, para baixar o arquivo do dia 17/06/2017 verifique se o link termina com *"turnstile_170610.txt"*. Se não fizer isso você baixará todos os arquivos da página. Para fazer isso utilize o comando conforme abaixo:

```python
if '1706' in link.get('href'):
```

E a dica final é utilizar o comando abaixo para fazer o download do arquivo txt:

```python
urllib.urlretrieve(link_do_arquivo, filename)
```

Lembre-se, primeiro, carregue todos os pacotes e funções que você estará usando em sua análise.

In [53]:
import pandas as pd
import numpy as np
import urllib
import csv
from bs4 import BeautifulSoup

In [54]:
url = "https://s3.amazonaws.com/video.udacity-data.com/topher/2018/November/5bf32290_turnstile/turnstile.html" 
response = urllib.request.urlopen(url)
html = response.read()

soup = BeautifulSoup(html, "html.parser")
links = soup.select('a[href]')
filenames = []
for link in links:
    if '1706' in link.get('href'):
        name = link.get('href').rsplit('/', 1)[1]
        filenames.append(name)
        urllib.request.urlretrieve(link.get('href'), name)

### *Exercicio 1.2*

Escreva uma função que pegue a lista de nomes dos arquivos que você baixou no exercicio 1.1 e consolide-os em um único arquivo. Deve existir apenas uma linha de cabeçalho no arquivo de saida. 

Por exemplo, se o arquivo_1 tiver:
linha 1...
linha 2...

e o outro arquivo, arquivo_2 tiver:
linha 3...
linha 4...
linha 5...

Devemos combinar o arquivo_1 com arquivo_2 em um arquivo mestre conforme abaixo:

'C/A, UNIT, SCP, DATEn, TIMEn, DESCn, ENTRIESn, EXITSn'
linha 1...
linha 2...
linha 3...
linha 4...
linha 5...

**OBS:** Note que algumas colunas foram descartadas!

In [55]:
def create_master_turnstile_file(filenames, output_file):
    columns = ['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
    with open(output_file, 'w') as master_file:
        writer = csv.DictWriter(master_file, fieldnames=columns)
        writer.writeheader()
        for filename in filenames:
            with open(filename, 'r') as june_file:
                headers = [header_column.strip() for header_column in june_file.readline().split(',')]
                reader = csv.DictReader(june_file, fieldnames=headers)
                for row in reader:
                    fields = {}
                    for column in columns:
                        fields[column] = row[column]
                        
                    writer.writerow(fields)

final_file = 'master_file_june.csv'
create_master_turnstile_file(filenames, final_file)

In [56]:
df = pd.read_csv(final_file, sep=',')
df.head(5)

    C/A  UNIT       SCP        DATE      TIME     DESC  ENTRIES    EXITS
0  A002  R051  02-00-00  06/17/2017  00:00:00  REGULAR  6224816  2107317
1  A002  R051  02-00-00  06/17/2017  04:00:00  REGULAR  6224850  2107322
2  A002  R051  02-00-00  06/17/2017  08:00:00  REGULAR  6224885  2107352
3  A002  R051  02-00-00  06/17/2017  12:00:00  REGULAR  6225005  2107452
4  A002  R051  02-00-00  06/17/2017  16:00:00  REGULAR  6225248  2107513

### *Exercicio 1.3*

Neste exercício, escreva um função que leia o master_file criado no exercicio anterior e carregue-o em um pandas dataframe. Esta função deve filtrar para que o dataframe possua apenas linhas onde a coluna "DESCn" possua o valor "Regular".

Por exemplo, se o data frame do pandas estiver conforme abaixo:
    
    ,C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn
    0,A002,R051,02-00-00,05-01-11,00:00:00,REGULAR,3144312,1088151
    1,A002,R051,02-00-00,05-01-11,04:00:00,DOOR,3144335,1088159
    2,A002,R051,02-00-00,05-01-11,08:00:00,REGULAR,3144353,1088177
    3,A002,R051,02-00-00,05-01-11,12:00:00,DOOR,3144424,1088231

O dataframe deverá ficar conforme abaixo depois de filtrar apenas as linhas onde a coluna DESCn possua o valor REGULAR:

    0,A002,R051,02-00-00,05-01-11,00:00:00,REGULAR,3144312,1088151
    2,A002,R051,02-00-00,05-01-11,08:00:00,REGULAR,3144353,1088177

In [57]:
def filter_by_regular(filename):
    
    turnstile_data = pd.read_csv(filename, sep=',')
    turnstile_data = turnstile_data[turnstile_data['DESC'] == 'REGULAR']
    return turnstile_data

dataset = filter_by_regular(final_file)
dataset.head(5)

    C/A  UNIT       SCP        DATE      TIME     DESC  ENTRIES    EXITS
0  A002  R051  02-00-00  06/17/2017  00:00:00  REGULAR  6224816  2107317
1  A002  R051  02-00-00  06/17/2017  04:00:00  REGULAR  6224850  2107322
2  A002  R051  02-00-00  06/17/2017  08:00:00  REGULAR  6224885  2107352
3  A002  R051  02-00-00  06/17/2017  12:00:00  REGULAR  6225005  2107452
4  A002  R051  02-00-00  06/17/2017  16:00:00  REGULAR  6225248  2107513

### *Exercicio 1.4*


Os dados do metrô de NY possui dados cumulativos de entradas e saidas por linha. Assuma que você possui um dataframe chamado df que contém apenas linhas para uma catraca em particular (unico SCP, C/A, e UNIT). A função abaixo deve alterar essas entradas cumulativas para a contagem de entradas desde a última leitura (entradas desde a última linha do dataframe).

Mais especificamente, você deverá fazer duas coisas:

1. Criar uma nova coluna chamada ENTRIESn_hourly

2. Inserir nessa coluna a diferença entre ENTRIESn da linha atual e a da linha anterior. Se a linha possuir alguma NAN, preencha/substitua por 1.

Dica: as funções do pandas shift() e fillna() pode ser úteis nesse exercicio.

Abaixo tem um exemplo de como seu dataframe deve ficar ao final desse exercicio:

           C/A  UNIT       SCP     DATEn     TIMEn    DESCn  ENTRIESn    EXITSn  ENTRIESn_hourly
    0     A002  R051  02-00-00  05-01-11  00:00:00  REGULAR   3144312   1088151                1
    1     A002  R051  02-00-00  05-01-11  04:00:00  REGULAR   3144335   1088159               23
    2     A002  R051  02-00-00  05-01-11  08:00:00  REGULAR   3144353   1088177               18
    3     A002  R051  02-00-00  05-01-11  12:00:00  REGULAR   3144424   1088231               71
    4     A002  R051  02-00-00  05-01-11  16:00:00  REGULAR   3144594   1088275              170
    5     A002  R051  02-00-00  05-01-11  20:00:00  REGULAR   3144808   1088317              214
    6     A002  R051  02-00-00  05-02-11  00:00:00  REGULAR   3144895   1088328               87
    7     A002  R051  02-00-00  05-02-11  04:00:00  REGULAR   3144905   1088331               10
    8     A002  R051  02-00-00  05-02-11  08:00:00  REGULAR   3144941   1088420               36
    9     A002  R051  02-00-00  05-02-11  12:00:00  REGULAR   3145094   1088753              153
    10    A002  R051  02-00-00  05-02-11  16:00:00  REGULAR   3145337   1088823              243

In [58]:
import pandas

def get_hourly_entries(df):
    df['ENTRIES_HOURLY'] = df['ENTRIES'] - df['ENTRIES'].shift(periods=1)
    df = df.fillna(value=1)
    return df

df = get_hourly_entries(df)
df.head()

,C/A,UNIT,SCP,DATE,TIME,DESC,ENTRIES,EXITS,ENTRIES_HOURLY
0,A002,R051,02-00-00,06/17/2017,00:00:00,REGULAR,6224816,2107317,1.0
1,A002,R051,02-00-00,06/17/2017,04:00:00,REGULAR,6224850,2107322,34.0
2,A002,R051,02-00-00,06/17/2017,08:00:00,REGULAR,6224885,2107352,35.0
3,A002,R051,02-00-00,06/17/2017,12:00:00,REGULAR,6225005,2107452,120.0
4,A002,R051,02-00-00,06/17/2017,16:00:00,REGULAR,6225248,2107513,243.0

### *Exercicio 1.5*

Faça o mesmo do exercicio anterior mas agora considerando as saidas, coluna EXITSn.
Para isso crie uma coluna chamada de EXITSn_hourly e insira a diferença entre a coluna EXITSn da linha atual versus a linha anterior. Se tiver algum NaN, preencha/substitua por 0.

In [59]:
import pandas

def get_hourly_exits(df):
    df['EXISTS_HOURLY'] = df['EXITS'] - df['EXITS'].shift(periods=1)
    df = df.fillna(value=0)
    return df

df = get_hourly_exits(df)
df.head()

,C/A,UNIT,SCP,DATE,TIME,DESC,ENTRIES,EXITS,ENTRIES_HOURLY,EXISTS_HOURLY
0,A002,R051,02-00-00,06/17/2017,00:00:00,REGULAR,6224816,2107317,1.0,0.0
1,A002,R051,02-00-00,06/17/2017,04:00:00,REGULAR,6224850,2107322,34.0,5.0
2,A002,R051,02-00-00,06/17/2017,08:00:00,REGULAR,6224885,2107352,35.0,30.0
3,A002,R051,02-00-00,06/17/2017,12:00:00,REGULAR,6225005,2107452,120.0,100.0
4,A002,R051,02-00-00,06/17/2017,16:00:00,REGULAR,6225248,2107513,243.0,61.0

### *Exercicio 1.6*

Dado uma variável de entrada que representa o tempo no formato de:
     "00:00:00" (hora: minutos: segundos)
    
Escreva uma função para extrair a parte da hora do tempo variável de entrada
E devolva-o como um número inteiro. Por exemplo:
         
         1) se a hora for 00, seu código deve retornar 0
         2) se a hora for 01, seu código deve retornar 1
         3) se a hora for 21, seu código deve retornar 21
        
Por favor, devolva a hora como um número inteiro.

In [60]:
def time_to_hour(time):
    hour = int(time[0:2])
    return hour

## Exercicio 2 - Análise dos dados

### *Exercicio 2.1*

Para verificar a relação entre o movimento do metrô e o clima, precisaremos complementar os dados do arquivo já baixado com os dados do clima.
Nós complementamos para você este arquivo com os dados de clima de Nova Iorque  e disponibilizamos na área de materiais do projeto. Você pode acessa-lo pelo link: https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/turnstile_data_master_with_weather.csv

Agora que temos nossos dados em um arquivo csv, escreva um código python que leia este arquivo e salve-o em um data frame do pandas. 

Dica: 

Utilize o comando abaixo para ler o arquivo:

```python
pd.read_csv('output_list.txt', sep=",")
```

In [61]:
import pandas as pd

filename = "turnstile_data_master_with_weather.csv"


df = pd.read_csv(filename, sep=",")
df.head()

,Unnamed: 0,UNIT,DATEn,TIMEn,Hour,DESCn,ENTRIESn_hourly,EXITSn_hourly,maxpressurei,maxdewpti,...,meandewpti,meanpressurei,fog,rain,meanwindspdi,mintempi,meantempi,maxtempi,precipi,thunder
0,0,R001,2011-05-01,01:00:00,1,REGULAR,0.0,0.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
1,1,R001,2011-05-01,05:00:00,5,REGULAR,217.0,553.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
2,2,R001,2011-05-01,09:00:00,9,REGULAR,890.0,1262.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
3,3,R001,2011-05-01,13:00:00,13,REGULAR,2451.0,3708.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
4,4,R001,2011-05-01,17:00:00,17,REGULAR,4400.0,2501.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0

### *Exercicio 2.2*

Agora crie uma função que calcule a quantidade de dias chuvosos, para isso retorne a contagem do numero de dias onde a coluna *"rain"* é igual a 1.

Dica: Você também pode achar que a interpretação de números como números inteiros ou float pode não
     funcionar inicialmente. Para contornar esta questão, pode ser útil converter
     esses números para números inteiros. Isso pode ser feito escrevendo cast (coluna como inteiro).
     Então, por exemplo, se queríamos lançar a coluna maxtempi como um número inteiro, nós devemos
     escrever algo como cast (maxtempi as integer) = 76, em oposição a simplesmente
     onde maxtempi = 76.

In [62]:
def num_rainy_days(df):
    rainy_df = df[df['rain'] == 1.0].groupby('DATEn')
    return len(rainy_df['DATEn'])

### *Exercicio 2.3*

Calcule se estava nebuloso ou não (0 ou 1) e a temperatura máxima para fog (isto é, a temperatura máxima 
     para dias nebulosos).

In [63]:
def max_temp_aggregate_by_fog(df):    
    return df.groupby(['fog'])['maxtempi'].max()

### *Exercicio 2.4

Calcule agora a média de 'meantempi' nos dias que são sábado ou domingo (finais de semana):

In [64]:
def avg_weekend_temperature(filename):
    df = pd.read_csv(filename, sep=',')
    df['WEEKDAY'] = pd.to_datetime(df['DATEn']).dt.weekday
  
    mean_temp_weekends = df[df['WEEKDAY'] > 4]['meantempi'].mean()
    
    return mean_temp_weekends

### *Exercicio 2.5

Calcule a média da temperatura mínima 'mintempi' nos dias chuvosos onde da temperatura mínima foi maior que do 55 graus:

In [65]:
rainy_df = df[df['rain'] == 1.0]
rainy_df_with_more_than_55 = rainy_df[rainy_df['mintempi'] > 55]
rainy_df_with_more_than_55

,Unnamed: 0,UNIT,DATEn,TIMEn,Hour,DESCn,ENTRIESn_hourly,EXITSn_hourly,maxpressurei,maxdewpti,...,meandewpti,meanpressurei,fog,rain,meanwindspdi,mintempi,meantempi,maxtempi,precipi,thunder
61640,61640,R001,2011-05-15,01:00:00,1,REGULAR,1851.0,2123.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61641,61641,R001,2011-05-15,05:00:00,5,REGULAR,296.0,702.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61642,61642,R001,2011-05-15,09:00:00,9,REGULAR,1229.0,1096.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61643,61643,R001,2011-05-15,13:00:00,13,REGULAR,2788.0,3397.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61644,61644,R001,2011-05-15,17:00:00,17,REGULAR,4702.0,3690.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61645,61645,R001,2011-05-15,21:00:00,21,REGULAR,3246.0,2982.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61646,61646,R002,2011-05-15,01:00:00,1,REGULAR,345.0,346.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61647,61647,R002,2011-05-15,05:00:00,5,REGULAR,41.0,65.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61648,61648,R002,2011-05-15,09:00:00,9,REGULAR,70.0,133.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61649,61649,R002,2011-05-15,13:00:00,13,REGULAR,329.0,852.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61650,61650,R002,2011-05-15,17:00:00,17,REGULAR,763.0,1383.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61651,61651,R002,2011-05-15,21:00:00,21,REGULAR,776.0,560.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61652,61652,R003,2011-05-15,00:00:00,0,REGULAR,66.0,139.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61653,61653,R003,2011-05-15,04:00:00,4,REGULAR,27.0,52.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61654,61654,R003,2011-05-15,12:00:00,12,REGULAR,214.0,78.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61655,61655,R003,2011-05-15,16:00:00,16,REGULAR,173.0,98.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61656,61656,R003,2011-05-15,20:00:00,20,REGULAR,110.0,146.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61657,61657,R004,2011-05-15,00:00:00,0,REGULAR,196.0,375.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61658,61658,R004,2011-05-15,04:00:00,4,REGULAR,46.0,137.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61659,61659,R004,2011-05-15,12:00:00,12,REGULAR,636.0,187.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61660,61660,R004,2011-05-15,16:00:00,16,REGULAR,384.0,273.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61661,61661,R004,2011-05-15,20:00:00,20,REGULAR,265.0,421.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61662,61662,R005,2011-05-15,00:00:00,0,REGULAR,200.0,355.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61663,61663,R005,2011-05-15,04:00:00,4,REGULAR,25.0,89.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61664,61664,R005,2011-05-15,08:00:00,8,REGULAR,208.0,116.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61665,61665,R005,2011-05-15,12:00:00,12,REGULAR,523.0,161.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61666,61666,R005,2011-05-15,16:00:00,16,REGULAR,385.0,315.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61667,61667,R005,2011-05-15,20:00:00,20,REGULAR,271.0,414.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61668,61668,R006,2011-05-15,00:00:00,0,REGULAR,295.0,343.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
61669,61669,R006,2011-05-15,04:00:00,4,REGULAR,76.0,99.0,29.74,65.0,...,60.0,29.64,1.0,1.0,4.0,58.0,64.0,69.0,0.89,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131921,131921,R552,2011-05-30,17:55:25,17,REGULAR,6.0,2.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131922,131922,R552,2011-05-30,18:09:09,18,REGULAR,192.0,55.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131923,131923,R552,2011-05-30,18:15:11,18,REGULAR,350.0,90.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131924,131924,R552,2011-05-30,18:27:32,18,REGULAR,25.0,3.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131925,131925,R552,2011-05-30,18:46:54,18,REGULAR,0.0,0.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131926,131926,R552,2011-05-30,19:09:29,19,REGULAR,30.0,2.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131927,131927,R552,2011-05-30,19:11:30,19,REGULAR,208.0,998.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131928,131928,R552,2011-05-30,19:16:44,19,REGULAR,107.0,199.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131929,131929,R552,2011-05-30,19:23:45,19,REGULAR,139.0,38.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131930,131930,R552,2011-05-30,19:36:27,19,REGULAR,331.0,399.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131931,131931,R552,2011-05-30,19:38:47,19,REGULAR,275.0,71.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131932,131932,R552,2011-05-30,19:52:07,19,REGULAR,133.0,39.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131933,131933,R552,2011-05-30,20:10:01,20,REGULAR,7.0,332.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131934,131934,R552,2011-05-30,20:17:36,20,REGULAR,128.0,447.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131935,131935,R552,2011-05-30,20:23:06,20,REGULAR,142.0,677.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131936,131936,R552,2011-05-30,20:51:44,20,REGULAR,0.0,0.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131937,131937,R552,2011-05-30,20:58:04,20,REGULAR,248.0,257.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131938,131938,R552,2011-05-30,20:58:21,20,REGULAR,62.0,32.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131939,131939,R552,2011-05-30,21:14:49,21,REGULAR,116.0,726.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131940,131940,R552,2011-05-30,21:21:28,21,REGULAR,68.0,115.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131941,131941,R552,2011-05-30,22:07:25,22,REGULAR,7.0,4.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131942,131942,R552,2011-05-30,22:21:09,22,REGULAR,80.0,63.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131943,131943,R552,2011-05-30,22:27:11,22,REGULAR,195.0,207.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131944,131944,R552,2011-05-30,22:39:32,22,REGULAR,18.0,4.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131945,131945,R552,2011-05-30,22:58:54,22,REGULAR,0.0,0.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131946,131946,R552,2011-05-30,23:21:29,23,REGULAR,19.0,14.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131947,131947,R552,2011-05-30,23:23:30,23,REGULAR,158.0,1022.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131948,131948,R552,2011-05-30,23:28:44,23,REGULAR,54.0,275.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131949,131949,R552,2011-05-30,23:35:45,23,REGULAR,59.0,46.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0
131950,131950,R552,2011-05-30,23:50:47,23,REGULAR,123.0,108.0,30.13,70.0,...,68.0,30.08,0.0,1.0,5.0,70.0,78.0,86.0,0.29,0.0

In [66]:
def avg_min_temperature(filename):
    df = pd.read_csv(filename, sep=',')
    rainy_df = df[df['rain'] == 1.0]
    rainy_df = rainy_df[rainy_df['mintempi'] > 55]
    avg_min_temp_rainy = rainy_df['mintempi'].mean()
    
    return avg_min_temp_rainy

### *Exercicio 2.6

Antes de realizar qualquer análise, pode ser útil olhar para os dados que esperamos analisar. Mais especificamente, vamos examinR as entradas por hora em nossos dados do metrô de Nova York para determinar a distribuição dos dados. Estes dados são armazenados na coluna ['ENTRIESn_hourly'].
    
Trace dois histogramas nos mesmos eixos para mostrar as entradas quando esta chovendo vs quando não está chovendo. 
Abaixo está um exemplo sobre como traçar histogramas com pandas e matplotlib:
     
```python
Turnstile_weather ['column_to_graph']. Hist ()
```

In [67]:
import numpy as np
import pandas
import matplotlib.pyplot as plt

def entries_histogram(turnstile_weather):
    fig = plt.figure()
    ax = fig.add_subplot(111)
    
    raining      = turnstile_weather['ENTRIESn_hourly'][turnstile_weather['rain']== 1.0]
    without_rain = turnstile_weather['ENTRIESn_hourly'][turnstile_weather['rain']== 0.0]
    
    bins = np.arange(0, 50000, 4000)
    ax.hist(without_rain, bins= bins,label = 'Without Rain',histtype="stepfilled")
    ax.hist(raining, bins = bins ,label = 'Raining',histtype="stepfilled")
    plt.xlabel('Entries hourly')
    plt.ylabel('count')
    plt.legend(loc='upper right')
    return plt
    
entries_histogram(df).show()


### *Exercicio 2.7

Os dados que acabou de plotar que tipo de ditribuição? Existe diferença na distribuição entre dias chuvosos e não chuvosos?

** Resposta **: Distribuição inclinada e positiva. Positive Skewed.
Não existe diferença na distribuição.
Mas, mais pessoas frequentam o metro no total quando não está chovendo. Isso acontece porque existem mais dias sem chuva do que com chuva. Talvez seja interessante verificar esse dado também.

### *Exercicio 2.8

Construa uma função que que retorne:

1. A média das entradas com chuva
2. A média das entradas sem chuva

In [68]:
import numpy as np

import pandas

#Havi uma variável p aqui que eu nao tenho certeza da necessidade da mesma.

def means(turnstile_weather):
    with_rain_mean = turnstile_weather[turnstile_weather['fog'] == 1]['ENTRIESn_hourly'].mean()
    without_rain_mean = turnstile_weather[turnstile_weather['fog'] == 0]['ENTRIESn_hourly'].mean()
    return with_rain_mean, without_rain_mean # leave this line for the grader

Responda as perguntas abaixo de acordo com a saida das suas funções:

1. Qual a média das entradas com chuva?
2. Qual a média das entradas sem chuva?

In [69]:
means(df)

(1154.6593496303688, 1083.449282087678)

** Resposta **: 
1. 1154,65
2. 1083,44

## Exercicio 3 - Map Reduce

### *Exercicio 3.1*

A entrada para esse exercício e o mesmo arquivo da seção anterior (Exercicio 2). Você pode baixar o arquivo neste link:

 https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/turnstile_data_master_with_weather.csv

Varmos criar um mapeador agora. Para cada linha de entrada, a saída do mapeador deve IMPRIMIR (não retornar) a UNIT como uma chave e o número de ENTRIESn_hourly como o valor. Separe a chave e o valor por uma guia. Por exemplo: 'R002 \ t105105.0'

Exporte seu mapeador em um arquivo chamado mapper_result.txt e envie esse arquivo juntamente com a sua submissão. O código para exportar seu mapeador já está escrito no código abaixo.

In [70]:
import sys

def mapper():
    for line in sys.stdin:
        data = line.strip().split(',')
        if data[1] == 'UNIT':
            continue;

        unit = data[1]
        entries_hourly = data[6]
        print(unit, '\t', entries_hourly)

sys.stdin = open('turnstile_data_master_with_weather.csv')
sys.stdout = open('mapper_result.txt', 'w')
mapper()

In [71]:
df[df.UNIT == 'R001'].groupby(['UNIT'])['ENTRIESn_hourly'].sum()

UNIT
R001    749682.0
Name: ENTRIESn_hourly, dtype: float64

In [72]:
df.head(10)

,Unnamed: 0,UNIT,DATEn,TIMEn,Hour,DESCn,ENTRIESn_hourly,EXITSn_hourly,maxpressurei,maxdewpti,...,meandewpti,meanpressurei,fog,rain,meanwindspdi,mintempi,meantempi,maxtempi,precipi,thunder
0,0,R001,2011-05-01,01:00:00,1,REGULAR,0.0,0.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
1,1,R001,2011-05-01,05:00:00,5,REGULAR,217.0,553.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
2,2,R001,2011-05-01,09:00:00,9,REGULAR,890.0,1262.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
3,3,R001,2011-05-01,13:00:00,13,REGULAR,2451.0,3708.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
4,4,R001,2011-05-01,17:00:00,17,REGULAR,4400.0,2501.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
5,5,R001,2011-05-01,21:00:00,21,REGULAR,3372.0,2122.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
6,6,R002,2011-05-01,01:00:00,1,REGULAR,0.0,0.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
7,7,R002,2011-05-01,05:00:00,5,REGULAR,42.0,66.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
8,8,R002,2011-05-01,09:00:00,9,REGULAR,50.0,125.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0
9,9,R002,2011-05-01,13:00:00,13,REGULAR,316.0,716.0,30.31,42.0,...,39.0,30.27,0.0,0.0,5.0,50.0,60.0,69.0,0.0,0.0

### *Exercicio 3.2*

Agora crie o redutor. Dado o resultado do mapeador do exercicio anterior, o redutor deve imprimir(Não retornar) uma linha por UNIT, juntamente com o número total de ENTRIESn_hourly.Ao longo de maio (que é a duração dos nossos dados), separados por uma guia. Um exemplo de linha de saída do redutor pode ser assim: 'R001 \ t500625.0'

Você pode assumir que a entrada para o redutor está ordenada de tal forma que todas as linhas correspondentes a uma unidade particular são agrupados. No entanto a saida do redutor terá repetição pois existem lojas que aparecem em locais diferentes dos arquivos.

Exporte seu redutor em um arquivo chamado reducer_result.txt e envie esse arquivo juntamente com a sua submissão.

In [73]:
import sys
import itertools
from operator import itemgetter
from collections import Counter

def reducer():
    units_entries = create_hash(sys.stdin)
    counter = Counter()
    for key, values in itertools.groupby(units_entries, key=itemgetter('unit')):
        for entry in values:
            counter[entry.get('unit')] += entry.get('entries')
    
    [print(unit + '\t' + str(total_entries)) for unit, total_entries in counter.items()]

def create_hash(entries):
    dict_list = []
    for entry in entries:
        data = entry.strip().split('\t')
        entry_hash = {'unit': data[0].strip(), 'entries': float(data[1].strip())}
        dict_list.append(entry_hash)
        
    return sorted(dict_list, key=itemgetter('unit'))
 
sys.stdin = open('mapper_result.txt')
sys.stdout = open('reducer_result.txt', 'w')
reducer()